%h1 Research & Professional Activities

- @rsactivities.each do |rsactivity|
    %h1= rsactivity.name
    %h3= rsactivity.date
    %p= rsactivity.ta1
    %p= rsactivity.ta2
    %p= rsactivity.ta3
    %p= rsactivity.ta4
    %br/
    %br/
    
    