%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Research & Professional Activities
        %p.lead Hello Faculty! Below, you will find all of your Research & Professional Activities in descending order
%br/
%bbr/
%br/

.activity-cards
    - @rsactivities.each do |rsactivity|
        .card.text-center
            .card-header
            .card-body
                %ul.list-group
                    %li.list-group-item.disabled A #{link_to rsactivity.report.year, report_path(rsactivity.report)} Research & Professional Activity
                    %li.list-group-item.list-group-item-info
                        %h2.card-title #{rsactivity.name}
                        %h4.card-text by faculty
                    %li.list-group-item.disabled
                        Details:
                        %br/
                        %br/
                        %ul.list-group.list-group-flush
                            %li.list-group-item #{rsactivity.ta1}
                            %li.list-group-item #{rsactivity.ta2}
                            %li.list-group-item #{rsactivity.ta3}
                            %li.list-group-item #{rsactivity.ta4}
                        %p.text-muted Submitted: #{rsactivity.date.strftime("%b %e, %Y (%T %p)")}
                    %li.list-group-item
                        .row
                            .col-md-5
                            .col-md-1
                                %h5= link_to "Edit", edit_report_rsactivity_path(@report, rsactivity)
                            .col-md-1 
                                %h5= link_to "Delete", report_rsactivity_path(@report, rsactivity), method: :delete, data: {confirm: "Are you sure?"}
        %br/
        %br/
        %br/
        %br/
