#reference_activity
    %h1= @rfactivity.name
    %h3= @rfactivity.date
    %p= @rfactivity.ta1
    %p= @rfactivity.ta2
    
= link_to "Edit", edit_rfactivity_path(@rfactivity)
= link_to "Delete", rfactivity_path(@rfactivity), method: :delete, data: {confirm: "Are you sure?"}