%br/
%br/
%br/
.nav.nav-tabs.my-2.my-lg-0
    %li#Teaching
        = link_to "Teaching", 'reports/1/tactivities/', id: "teaching"
    %li#Service
        = link_to "Service", 'reports/17/sactivities/', id: "service"
    %li#Research
        = link_to "Research & Professional", '#rsactivities#new', id: "research"
    %li#Institutional                    
        = link_to "Institutional Support", '#iactivities#index', id: "institutional support" 
    %li#References                    
        = link_to "References", '#rfactivities#index', id: "references"
    %li#Archive                    
        = link_to "Archive", '/', id: "archive" 
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Service
%br/
%br/
.activity-cards
    - @sactivities.each do |sactivity|
        .card.text-center
            .card-header
            .card-body
                %ul.list-group
                    %li.list-group-item.disabled Year# Report
                    %li.list-group-item.list-group-item-info
                        %h2.card-title #{sactivity.name}
                        %h4.card-text by faculty
                    %li.list-group-item.disabled
                        Details:
                        %br/
                        %br/
                        %ul.list-group.list-group-flush
                            %li.list-group-item #{sactivity.ta1}
                            %li.list-group-item #{sactivity.ta2}
                            %li.list-group-item #{sactivity.ta3}
                            %li.list-group-item #{sactivity.ta4}
                            %li.list-group-item #{sactivity.ta5}
                    %li.list-group-item.text-muted
                        Submitted: #{sactivity.date.strftime("%b %e, %Y (%T %p)")}
                        %a.btn.btn-light{:href => "#"} Edit
        %br/
        %br/
        %br/
        %br/