%h1 Service Activities

- @sactivities.each do |sactivity|
    %h1= sactivity.name
    %h3= sactivity.date
    %p= sactivity.ta1
    %p= sactivity.ta2
    %p= sactivity.ta3
    %p= sactivity.ta4
    %p= sactivity.ta5
    %br/
    %br/
    
    