%br/
%br/
%br/
.row.text-center
    .col-md-10
    .col-md-1
        %h4= link_to "Edit", edit_report_url(@sactivity.report)
    .col-md-1
        %h4= link_to "Delete", report_path(@sactivity.report), method: :delete, data: {confirm: "Are you sure?"}
.jumbotron.jumbotron-fluid
    #report
        %h1.display-5= link_to "#{@sactivity.report.year} Activities", report_path(@sactivity.report)
        %p.lead Hello Faculty! Below, you can view, update or delete your activities from the year #{@sactivity.report.year}.
    .row.text-center 
        %nav{"aria-label" => "Page navigation"}
            %ul.pagination
                %li= link_to "Summary", report_path(@sactivity.report)
                %li= link_to "Teaching", report_tactivities_path(@sactivity.report)
                %li.disabled= link_to "Services", report_sactivities_path(@sactivity.report)
                %li= link_to "Research & Professional", report_rsactivities_path(@sactivity.report)
                %li= link_to "Institutional Support", report_iactivities_path(@sactivity.report)
                %li= link_to "References", report_rfactivities_path(@sactivity.report)
%br/
%br/
%br/

#activities
    %ul.list-group
        %li.list-group-item.list-group-item-info.text-center
            %h1 Services Summary for #{@sactivity.report.year} has been updated with:
            %br/
            %li.list-group-item
                %br/
                %br/
                #sactivities
                    .row
                        .col-md-1
                        .col-md-10
                            .card.text-center
                                .card-body
                                    %ul.list-group.text-center
                                        - if @sactivity.date.strftime("%Y").to_i == @sactivity.report.year
                                            %li.list-group-item.disabled
                                                .row
                                                    .col-md-10
                                                    .col-md-1
                                                        %h5= link_to "Edit", edit_report_sactivity_path(@sactivity.report, @sactivity)
                                                    .col-md-1 
                                                        %h5= link_to "Delete", report_sactivity_path(@sactivity.report, @sactivity), method: :delete, data: {confirm: "Are you sure?"}
                                            %li.list-group-item.list-group-item-info
                                                %h2.card-title #{@sactivity.name}
                                                %p.text-muted Submitted on #{@sactivity.date.strftime("%b %e, %Y (%T %p)")} by Faculty
                                            %li.list-group-item.disabled
                                                Details:
                                                %br/
                                                %br/
                                                %ul.list-group.list-group-flush
                                                    %li.list-group-item #{@sactivity.ta1}
                                                    %li.list-group-item #{@sactivity.ta2}
                                                    %li.list-group-item #{@sactivity.ta3}
                                                    %li.list-group-item #{@sactivity.ta4}
                                                    %li.list-group-item #{@sactivity.ta5}
                                            %br/
                        .col-md-1
            %li.list-group-item.list-group-item-info.text-center
                .row.text-center
                    .col-md-3
                        .row.text-center 
                            %nav{"aria-label" => "Page navigation"}
                                %ul.pagination
                                    %li= link_to "« Back to Teaching Activities", report_tactivities_path(@sactivity.report)
                    .col-md-5
                    .col-md-4
                        .row.text-center 
                            %nav{"aria-label" => "Page navigation"}
                                %ul.pagination
                                    %li= link_to "Move to Research & Professonal Activiites »", report_rsactivities_path(@sactivity.report)
        %br/
        %br/
        %br/
        %br/