%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Teaching
        %p.lead Hello Faculty! Below, you will find all of your Teaching Activities in descending order
%br/
%bbr/
%br/

.activity-cards
    - @tactivities.each do |tactivity|
        .card.text-center
            .card-header
            .card-body
                %ul.list-group
                    %li.list-group-item.disabled A #{link_to tactivity.report.year, report_path(tactivity.report)} Teaching Activity
                    %li.list-group-item.list-group-item-info
                        %h2.card-title #{tactivity.name}
                        %h4.card-text by faculty
                    %li.list-group-item.disabled
                        Details:
                        %br/
                        %br/
                        %ul.list-group.list-group-flush
                            %li.list-group-item #{tactivity.ta1}
                            %li.list-group-item #{tactivity.ta2}
                            %li.list-group-item #{tactivity.ta3}
                            %li.list-group-item #{tactivity.ta4}
                        %p.text-muted Submitted: #{tactivity.date.strftime("%b %e, %Y (%T %p)")}
                    %li.list-group-item
                        .row
                            .col-md-5
                            .col-md-1
                                %h5= link_to "Edit", edit_report_tactivity_path(@report, tactivity)
                            .col-md-1 
                                %h5= link_to "Delete", report_tactivity_path(@report, tactivity), method: :delete, data: {confirm: "Are you sure?"}
        %br/
        %br/
        %br/
        %br/
