#teaching_activity
    %h1= @tactivity.name
    %h3= @tactivity.date
    %p= @tactivity.ta1
    %p= @tactivity.ta2
    %p= @tactivity.ta3
    %p= @tactivity.ta4
    
= link_to "Edit", edit_tactivity_path(@tactivity)
= link_to "Delete", tactivity_path(@tactivity), method: :delete, data: {confirm: "Are you sure?"}