<p id="notice"><%= notice %></p>

<h1>Collabswfaculties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collabswfaculties.each do |collabswfaculty| %>
      <tr>
        <td><%= collabswfaculty.name %></td>
        <td><%= collabswfaculty.explanation %></td>
        <td><%= link_to 'Show', collabswfaculty %></td>
        <td><%= link_to 'Edit', edit_collabswfaculty_path(collabswfaculty) %></td>
        <td><%= link_to 'Destroy', collabswfaculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Collabswfaculty', new_collabswfaculty_path %>
