<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collabswfaculty.name %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @collabswfaculty.explanation %>
</p>

<%= link_to 'Edit', edit_collabswfaculty_path(@collabswfaculty) %> |
<%= link_to 'Back', collabswfaculties_path %>
