= simple_form_for([@report, @rfactivity.reports.build]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :title
    = f.input :author
    = f.input :publisher
    = f.input :year
  .form-actions
    = f.button :submit
