%p#notice= notice
%h1 Collabswstudents
%table
  %thead
    %tr
      %th Teachname
      %th Studename
      %th Explanation
      %th{:colspan => "3"}
  %tbody
    - @collabswstudents.each do |collabswstudent|
      %tr
        %td= collabswstudent.teachname
        %td= collabswstudent.studename
        %td= collabswstudent.explanation
        %td= link_to 'Show', collabswstudent
        %td= link_to 'Edit', edit_collabswstudent_path(collabswstudent)
        %td= link_to 'Destroy', collabswstudent, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Collabswstudent', new_collabswstudent_path
