= simple_form_for([@report, @report.rfactivities.build]) do |f|
    %br/
    .row
        .col-md-7= f.input :name, label: "Name", input_html: { class: "form-control" }
        .col-md-5= f.input :date, label: "Date", input_html: { class: "form-control" }
    %br/
    = f.input :ta1, label: "What type of reference? (Options: Collaborations with Students; Collaborations with other faculty; AUP Grants; External Grants; Books; Articles, Essays and Book Chapters - Published, Editor Contributor; Exhibitions, Film & Video; Workshops, Conference Presentations & Invited Talks; Public Commentary and Media Coverage; Community Involvement & Field Work; Awards, Honors &. Appointments) If you would like to see examples of how to classify your work please refer to last year’s Faculty Achievements Report. All work in progress or under revision should not be included in this table but should be mentioned in the FACULTY ACTIVITY section.", input_html: { class: "form-control" }
    = f.input :ta2, label: "Please provide the descriptive information below. Please provide links to online material when possible and make sure to list each item only once in the table below.", input_html: { class: "form-control" }
    %br/
    .row
        .col-md-9
        .col-md-1= link_to "Cancel", root_path
        .col-md-1= f.button :submit
    %br/