%br/
%br/
%br/
.row.text-center
    .col-md-10
    .col-md-1
        %h4= link_to "Edit", edit_report_url(@rfactivity.report)
    .col-md-1
        %h4= link_to "Delete", report_path(@rfactivity.report), method: :delete, data: {confirm: "Are you sure?"}
.jumbotron.jumbotron-fluid
    #report
        %h1.display-5= link_to "#{@rfactivity.report.year} Activities", report_path(@rfactivity.report)
        %p.lead Hello Faculty! Below, you can view, update or delete your activities from the year #{@rfactivity.report.year}.
    .row.text-center 
        %nav{"aria-label" => "Page navigation"}
            %ul.pagination
                %li= link_to "Summary", report_path(@rfactivity.report)
                %li= link_to "Teaching", report_tactivities_path(@rfactivity.report)
                %li= link_to "Services", report_sactivities_path(@rfactivity.report)
                %li= link_to "Research & Professional", report_rsactivities_path(@rfactivity.report)
                %li= link_to "Institutional Support", report_iactivities_path(@rfactivity.report)
                %li.disabled= link_to "References", report_rfactivities_path(@rfactivity.report)
%br/
%br/
%br/

#activities
    %ul.list-group
        %li.list-group-item.list-group-item-info.text-center
            .row.text-center
                .col-md-3
                    .row.text-center 
                        %nav{"aria-label" => "Page navigation"}
                            %ul.pagination
                                %li= link_to "« Back to all References", report_rfactivities_path(@rfactivity.report)
            %li.list-group-item
                %br/
                %br/
                #rfactivities
                    .row
                        .col-md-1
                        .col-md-10
                            .card.text-center
                                .card-body
                                    %ul.list-group.text-center
                                        - if @rfactivity.date.strftime("%Y").to_i == @rfactivity.report.year
                                            %li.list-group-item.disabled
                                                .row
                                                    .col-md-10
                                                    .col-md-1
                                                        %h5= link_to "Edit", edit_report_rfactivity_path(@rfactivity.report, @rfactivity)
                                                    .col-md-1 
                                                        %h5= link_to "Delete", report_rfactivity_path(@rfactivity.report, @rfactivity), method: :delete, data: {confirm: "Are you sure?"}
                                            %li.list-group-item.list-group-item-info
                                                %h2.card-title #{@rfactivity.name}
                                                %p.text-muted Submitted on #{@rfactivity.date.strftime("%b %e, %Y (%T %p)")} by Faculty
                                            %li.list-group-item.disabled
                                                Details:
                                                %br/
                                                %br/
                                                %ul.list-group.list-group-flush
                                                    %li.list-group-item #{@rfactivity.ta1}
                                                    %li.list-group-item #{@rfactivity.ta2}
                                            %br/
                        .col-md-1
        %br/
        %br/
        %br/
        %br/
