%h1 Institutional Support Activities

- @iactivities.each do |iactivity|
    %h1= iactivity.name
    %h3= iactivity.date
    %p= iactivity.ta1
    %p= iactivity.ta2
    %p= iactivity.ta3
    %p= iactivity.ta4
    %p= iactivity.ta5
    %p= iactivity.ta6
    %br/
    %br/
    
    