= form_for(@book) do |f|
    .field= f.label :title
    %br/
    = f.text_field :title
    
    .field= f.label :publisher
    %br/
    = f.text_field :publisher
    
    .field= f.label :year
    %br/
    = f.text_field :year
    
    .field= f.label :location
    %br/
    = f.text_field :location
    
    .actions 
    = f.submit "Add"