<p id="notice"><%= notice %></p>

<h1>References</h1>

<table>
  <thead>
    <tr>
      <th>Books</th>
      <th>Grants</th>
      <th>Stcollabs</th>
      <th>Facollabs</th>
      <th>Aebcreferences</th>
      <th>Efvreferences</th>
      <th>Wcpitreferences</th>
      <th>Pcmreferences</th>
      <th>Cifwreferences</th>
      <th>Ahareferences</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.books %></td>
        <td><%= reference.grants %></td>
        <td><%= reference.stcollabs %></td>
        <td><%= reference.facollabs %></td>
        <td><%= reference.aebcreferences %></td>
        <td><%= reference.efvreferences %></td>
        <td><%= reference.wcpitreferences %></td>
        <td><%= reference.pcmreferences %></td>
        <td><%= reference.cifwreferences %></td>
        <td><%= reference.ahareferences %></td>
        <td><%= link_to 'Show', reference %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reference', new_reference_path %>
