<p id="notice"><%= notice %></p>

<p>
  <strong>Books:</strong>
  <%= @reference.books %>
</p>

<p>
  <strong>Grants:</strong>
  <%= @reference.grants %>
</p>

<p>
  <strong>Stcollabs:</strong>
  <%= @reference.stcollabs %>
</p>

<p>
  <strong>Facollabs:</strong>
  <%= @reference.facollabs %>
</p>

<p>
  <strong>Aebcreferences:</strong>
  <%= @reference.aebcreferences %>
</p>

<p>
  <strong>Efvreferences:</strong>
  <%= @reference.efvreferences %>
</p>

<p>
  <strong>Wcpitreferences:</strong>
  <%= @reference.wcpitreferences %>
</p>

<p>
  <strong>Pcmreferences:</strong>
  <%= @reference.pcmreferences %>
</p>

<p>
  <strong>Cifwreferences:</strong>
  <%= @reference.cifwreferences %>
</p>

<p>
  <strong>Ahareferences:</strong>
  <%= @reference.ahareferences %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
