<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @grant.name %>
</p>

<p>
  <strong>Gtype:</strong>
  <%= @grant.gtype %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @grant.explanation %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
