.form-container
    .row
        .col-md-1
        .col-md-10
            %ul.list-group
                %li.list-group-item.list-group-item-info
                    .row
                        .col-md-1
                        .col-md-10
                            %h3= "Select A Year:"
                            %br/
                            %form
                                .form-group
                                    %h4= link_to "#{DateTime.now.year}", '/'
                                    %h4= link_to "#{DateTime.now.year+1}", '/reports/29'
                                    %h4= link_to "#{DateTime.now.year+2}", '/'