%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Your Activity Reports
        %p.lead Hello Faculty! Below, you will find all of your yearly Activities Reports in descending order
%br/
%br/
%br/

.activity-cards
    - @reports.each do |report|
        .card
            .card-header
            .card-body
                %ul.list-group
                    %li.list-group-item.list-group-item-info.text-center
                        %h2.card-title= link_to report.year, report
                    %li.list-group-item.disabled
                        %br/
                        %ul.list-group.list-group-flush
                            %li.list-group-item
                                .row
                                    .col-md-1
                                    .col-md-8
                                        %h5 #{link_to "Teaching Activities", report_tactivities_path(report)} 
                                    .col-md-1
                                        %p #{link_to "Edit", root_path}
                                    .col-md-1
                                        %p #{link_to "Delete", root_path}
                                    .col-md-1
                            %li.list-group-item
                                .row
                                    .col-md-1
                                    .col-md-8
                                        %h5 #{link_to "Service Activities", report_sactivities_path(report)} 
                                    .col-md-1
                                        %p #{link_to "Edit", root_path}
                                    .col-md-1
                                        %p #{link_to "Delete", root_path}
                                    .col-md-1
                            %li.list-group-item
                                .row
                                    .col-md-1
                                    .col-md-8
                                        %h5 #{link_to "Research & Professional Activities", report_rsactivities_path(report)} 
                                    .col-md-1
                                        %p #{link_to "Edit", root_path}
                                    .col-md-1
                                        %p #{link_to "Delete", root_path}
                                    .col-md-1
                            %li.list-group-item
                                .row
                                    .col-md-1
                                    .col-md-8
                                        %h5 #{link_to "Institutional Support Activities", report_iactivities_path(report)} 
                                    .col-md-1
                                        %p #{link_to "Edit", root_path}
                                    .col-md-1
                                        %p #{link_to "Delete", root_path}
                                    .col-md-1
                            %li.list-group-item
                                .row
                                    .col-md-1
                                    .col-md-8
                                        %h5 #{link_to "References Activities", report_rfactivities_path(report)} 
                                    .col-md-1
                                        %p #{link_to "Edit", root_path}
                                    .col-md-1
                                        %p #{link_to "Delete", root_path}
                                    .col-md-1
                    %li.list-group-item.text-muted.text-center
                        Approved: "DD/MM/YYYY (00:00:00 AM/PM)"
                        %a.btn.btn-light{:href => "#"} Edit
                        %a.btn.btn-light{:href => "#"} Delete
        %br/
        %br/

    