%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    .container
        %h1.display-4 Your Activity Reports
        %p.lead Hello Faculty! Below, you will find all of your yearly Activities Reports in descending order
%br/
%br/
%br/

.workspace
    .card
        .card-header
        .card-body
            %ul.list-group
                %li.list-group-item.list-group-item-info.text-center
                    %h2.card-title Workspace
                %li.list-group-item.disabled
                    %br/
                    %ul.list-group.list-group-flush
                        %li.list-group-item
                            .row
                                .col-md-2
                                .col-md-4
                                    %h5 #{link_to " Create Current Faculty Activity Report (#{Time.now.strftime("%Y")})", new_report_path}
                                .col-md-4
                                    %h5 #{link_to "Create Upcoming Faculty Activity Report (#{Time.now.strftime("%Y").to_i + 1})", new_report_path}
                                .col-md-2
                    %br/
                    %ul.list-group.list-group-flush
                        - @reports.each do |report|
                            - if Time.now.strftime("%Y") == report.year.to_s
                                %li.list-group-item
                                    .row
                                        .col-md-1
                                        .col-md-7
                                            %h5= link_to "Current Faculty Activity Report (#{report.year})", report
                                        .col-md-1
                                            %p #{link_to "Create", new_report_path}
                                        .col-md-1
                                            %p #{link_to "Edit", edit_report_path(report)}
                                        .col-md-1
                                            %p= link_to "Delete", report_path(report), method: :delete, data: {confirm: "Are you sure?"}
                                        .col-md-1
                            - if Time.now.strftime("%Y") > report.year.to_s
                                %li.list-group-item
                                    .row
                                        .col-md-1
                                        .col-md-7
                                            %h5= link_to "Upcoming Faculty Activity Report (#{report.year})", report
                                        .col-md-1
                                            %p #{link_to "Create", new_report_path}
                                        .col-md-1
                                            %p #{link_to "Edit", edit_report_path(report)}
                                        .col-md-1
                                            %p= link_to "Delete", report_path(report), method: :delete, data: {confirm: "Are you sure?"}
                                        .col-md-1
    %br/
    %br/

.archive
    .card
        .card-header
        .card-body
            %ul.list-group
                %li.list-group-item.list-group-item-info.text-center
                    %h2.card-title Archive
                %li.list-group-item.disabled
                    %br/
                    %ul.list-group.list-group-flush
                        - @reports.each do |report|
                            - if Time.now.strftime("%Y") < report.year.to_s
                                %li.list-group-item
                                    .row
                                        .col-md-1
                                        .col-md-8
                                            %h5= link_to "#{report.year} Faculty Activity Report", report
    %br/
    %br/