#report
    %h1= @report.year
 
= link_to "Edit", edit_report_url
= link_to "Delete", report_path(@report), method: :delete, data: {confirm: "Are you sure?"}

#tactivities
    %h2= "Teaching Activities"
    = render @report.tactivities
    
    %h3= "Add a Teaching Activity"
    = render 'tactivities/tform'
    
%br/

#sactivities
    %h2= "Service Activities"
    = render @report.sactivities
    
    %h3= "Add a Service Activity"
    = render 'sactivities/sform'
    
%br/

#rsactivities
    %h2= "Research & Professional Activities"
    = render @report.rsactivities
    
    %h3= "Add a Research/Professional Activity"
    = render 'rsactivities/rsform'
    
%br/

#iactivities
    %h2= "Institutional Support Activities"
    = render @report.iactivities
    
    %h3= "Add a Institutional Support Activity"
    = render 'iactivities/iform'
    
%br/

#rfactivities
    %h2= "Reference Activities"
    = render @report.rfactivities
    
    %h3= "Add a Reference Activity"
    = render 'rfactivities/rfform'