%br/
%br/
%br/
.jumbotron.jumbotron-fluid
    #report
        %h1.display-4 #{@report.year} Activities
        %p.lead Hello Faculty! Below, you can view, update or delete your activities from the year #{@report.year} in descending order
    .row.text-center
        .col-md-10
        .col-md-1
            %h4= link_to "Edit", edit_report_url
        .col-md-1
            %h4= link_to "Delete", report_path(@report), method: :delete, data: {confirm: "Are you sure?"}
%br/
%br/
%br/


- if 1 == 1
    #tactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Teaching Summary of #{@report.year}", report_tactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-2
                    .col-md-8
                        %ul.list-group
                            - @report.tactivities.each do |tactivity|
                                %li.list-group-item.disabled
                                    %h4.card-title #{link_to tactivity.name, report_tactivity_path(@report, tactivity)}
                                    %h5.card-title #{tactivity.date.strftime("%b %e, %Y (%T %p)")}
                                %br/
                    .col-md-1
    
    %br/
    %br/


- if 1 == 2
    #tactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Create a Teaching Summary for #{@report.year}", report_tactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-1
                    .col-md-10
                        %ul.list-group
                            %li.list-group-item.disabled
                                = render 'tactivities/tform'
    
    %br/
    %br/


- if 1 == 2
    #sactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Service Summary from #{@report.year}", report_sactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-2
                    .col-md-8
                        %ul.list-group
                            - @report.sactivities.each do |sactivity|
                                %li.list-group-item.disabled
                                    %h4.card-title #{link_to sactivity.name, report_sactivity_path(@report, sactivity)}
                                    %h5.card-title #{sactivity.date.strftime("%b %e, %Y (%T %p)")}
                                %br/
                    .col-md-1
    %br/
    %br/


- if 1 == 2
    #sactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Create a Services Summary for #{@report.year}", report_sactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-1
                    .col-md-10
                        %ul.list-group
                            %li.list-group-item.disabled
                                = render 'sactivities/sform'
    
    %br/
    %br/


- if 1 == 2
    #rsactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Research & Professional Activities Summary for #{@report.year}", report_rsactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-2
                    .col-md-8
                        %ul.list-group
                            - @report.rsactivities.each do |rsactivity|
                                %li.list-group-item.disabled
                                    %h4.card-title #{link_to rsactivity.name, report_rsactivity_path(@report, rsactivity)}
                                    %h5.card-title #{rsactivity.date.strftime("%b %e, %Y (%T %p)")}
                                %br/
                    .col-md-1
    %br/
    %br/


- if 1 == 2 
    #rsactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Create a Research & Professional Activities Summary for #{@report.year}", report_rsactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-1
                    .col-md-10
                        %ul.list-group
                            %li.list-group-item.disabled
                                = render 'rsactivities/rsform'
    
    %br/
    %br/


- if 1 == 2   
    #iactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Institutional Support Request for #{@report.year}", report_iactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-2
                    .col-md-8
                        %ul.list-group
                            - @report.iactivities.each do |iactivity|
                                %li.list-group-item.disabled
                                    %h3.card-title #{iactivity.name}
                                    %h5.card-title #{iactivity.date.strftime("%b %e, %Y (%T %p)")}
                                %br/
                    .col-md-1
    %br/
    %br/
    

- if 1 == 2   
    #iactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Create a Institutional Support Activities", report_iactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-1
                    .col-md-10
                        %ul.list-group
                            %li.list-group-item.disabled
                                = render 'iactivities/iform'
    
    %br/
    %br/


- if 1 == 2   
    #rfactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "References of #{report.year}", report_rfactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-2
                    .col-md-8
                        %ul.list-group
                            - @report.rfactivities.each do |rfactivity|
                                %li.list-group-item.disabled
                                    %h3.card-title #{rfactivity.name}
                                    %h5.card-title #{rfactivity.date.strftime("%b %e, %Y (%T %p)")}
                                %br/
                    .col-md-1
    %br/
    %br/


- if 1 == 2   
    #rfactivities
        %ul.list-group
            %li.list-group-item.list-group-item-info.text-center
                %h2 #{link_to "Add a new Reference for #{report.year}", report_rfactivities_path(@report)} 
            %li.list-group-item
                %br/
                .row
                    .col-md-1
                    .col-md-10
                        %ul.list-group
                            %li.list-group-item.disabled
                                = render 'rfactivities/rfform'
    
    %br/
    %br/
