!!!
%html
  %head
    %title MyBlueberry
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    %nav.navbar-default
      .container
        .navbar-header
          = link_to "Home", root_path, class: "navbar-brand"
        .nav.navbar-nav.navbar-right
          = link_to "New", new_report_path, class: "navbar navbar-link"
          - if @current_user
            = link_to "Log Out", logout_path
          - else
            = link_to "Connect With twitter", login_path
    .container   
      = yield